<h1>Your Text Analysis</h1>

Number of Words: <%= "#{@analyzed_text.count_of_words}" %>

Vowels: <%= "#{@analyzed_text.count_of_vowels}" %>

Consonants: <%= "#{@analyzed_text.count_of_consonants}" %>


Most Common Letter: <%= @analyzed_text.most_used_letter.keys.first.upcase%>, used <%= @analyzed_text.most_used_letter.values.first%> times


